{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Confirmation Code sent to your Email Address.</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/icon type">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'form/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'form/css/style.css' %}">
</head>

<body><br>

    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static 'form/images/signin-image.jpg' %}" alt="sing up image"></figure>
                <a href="/resend_code/{{confirm_email.username}}" class="signup-image-link">Resend Code</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Confirm Email Account
                    <div>
                        {% for message in messages %}
                        <p style="color: red">{{message}}</p>
                        {% endfor %}
                    </div>
                </h2>
                <form method="POST" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" required name="otp" id="your_name" placeholder="Enter OTP" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" id="signin" class="form-submit" value="Confirm Email" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'form/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'form/js/main.js' %}"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>